<!-- ##### AYTYCRM - Silvio Fernandes ##### -->
<%= error_messages_for 'role' %>

<div class="box tabular">

  <% unless @role.builtin? %>
    <p id="manage_members_options">
      <label><%= l(:label_ayty_managed_role) %></label>
      <label class="block">
        <%= radio_button_tag 'role[ayty_all_roles_managed]', 1, @role.ayty_all_roles_managed?, :id => 'role_ayty_all_roles_managed_on',
              :data => {:disables => '.role_managed_role input'} %>
        <%= l(:label_ayty_managed_all_roles) %>
      </label>
      <label class="block">
        <%= radio_button_tag 'role[ayty_all_roles_managed]', 0, !@role.ayty_all_roles_managed?, :id => 'role_ayty_all_roles_managed_off',
              :data => {:enables => '.role_managed_role input'} %>
        <%= l(:label_ayty_managed_selected_roles_only) %>:
      </label>
      <% Role.givable.sorted.each do |role| %>
        <label class="block role_managed_role" style="padding-left:2em;">
          <%= check_box_tag 'role[ayty_managed_role_ids][]', role.id, @role.ayty_managed_roles.include?(role), :id => nil %>
          <%= role.name %>
        </label>
      <% end %>
      <%= hidden_field_tag 'role[ayty_managed_role_ids][]', '' %>
  <% end %>

</div>