<!-- ##### AYTYCRM - Silvio Fernandes ##### -->
<%= error_messages_for 'ayty_time_entry_type' %>

<div class="box tabular">

  <p><%= f.text_field :name, :required => true %></p>

  <p><%= f.check_box :active %></p>

  <p><%= f.text_field :code %></p>

  <p><%= f.check_box :client %></p>

</div>